{{ 'section-navigation.css' | asset_url | stylesheet_tag }}

{% schema %}
  {
    "name": "Menu Personalizado",
    "settings": [
      {
        "type": "link_list",
        "id": "custom_nav_menu",
        "label": "Menu de navegação",
        "default": "main-menu"
      }
    ],
    "presets": [
      {
        "name": "Menu Personalizado",
        "category": "Navegação"
      }
    ]
  }
{% endschema %}


<div class="nav-wrapper">
  {% if section.settings.custom_nav_menu != blank %}
    <ul class="nav-container">
      {% for link in linklists[section.settings.custom_nav_menu].links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>