{{ 'section-reviews.css' | asset_url | stylesheet_tag }}

{% schema %}
  {
    "name": "Feedbacks dos usuários",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Título da seção de reviews",
        "default": "Real Reviews, Real Experiences"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle da seção de reviews",
        "default": "With 1600+ 5-star reviews"
      },
      {
        "type": "range",
        "id": "products_per_page",
        "min": 4,
        "max": 48,
        "step": 4,
        "default": 4,
        "label": "Products per page"
      }
    ],
    "blocks": [
      {
        "type": "custom_review",
        "name": "Review personalizado",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Título do produto",
            "default": "Produto Exemplo"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Descrição",
            "default": "Descrição do review."
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Imagem do produto"
          },
          {
            "type": "number",
            "id": "rating",
            "label": "Nota (0 a 5)",
            "default": 5
          },
          {
            "type": "text",
            "id": "state",
            "label": "Localização",
            "default": "United States"
          },
            {
            "type": "image_picker",
            "id": "image_product_buy",
            "label": "Imagem do produto"
          },
        ]
      }
    ],
    "presets": [
      {
        "name": "Reviews dinâmicos",
        "category": "Testimonials",
        "blocks": [
          {
            "type": "custom_review"
          }
        ]
      }
    ]
  }
{% endschema %}

<div class="control-container reviews-container" id="product-reviews">
  <h3>{{ section.settings.title }}</h3>

  <div class="subtitle">
    <span>{{ section.settings.subtitle }}</span>
    {% render 'stars-rating'
      , rating: section.settings.rating %}
  </div>

  {% if section.blocks.size > 0 %}
    <div class="list-review">
      {% for block in section.blocks %}
        {% if block.type == 'custom_review' %}
          {% render 'reviews-card'
            , title: block.settings.title
            , state: block.settings.state
            , description: block.settings.description
            , rating: block.settings.rating
            , image: block.settings.image
            , product_image: block.settings.image_product_buy
          %}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>