{{ 'section-suggestions.css' | asset_url | stylesheet_tag }}

{% schema %}
  {
    "name": "Sugestões para compra",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Título da seção de produtos mais vendidos",
        "default": "Best Selling Products"
      }
    ],
    "blocks": [
      {
        "type": "product-suggestions",
        "name": "product-suggestions",
        "settings": [
          {
            "type": "text",
            "id": "product",
            "label": "Produto"
          },
          {
            "type": "range",
            "id": "rating",
            "label": "Avaliação",
            "min": 1,
            "max": 5,
            "step": 1,
            "default": 5
          },
          {
            "type": "text",
            "id": "quantity_reviews",
            "label": "Quantidade de visualizações",
            "default": "0"
          },
          {
            "type": "image_picker",
            "id": "product_image",
            "label": "Imagem do produto"
          }
        ]
      }
    ],
    "max_blocks": 10,
    "presets": [
      {
        "name": "product-suggestions",
        "category": "product-suggestions"
      }
    ]
  }
{% endschema %}


<div class="suggestions-container" id="suggestions">
  <h3>{{ section.settings.title }}</h3>
  <div class="list-suggestions-products">
    {% for block in section.blocks %}
      {% render 'products-card'
        , product_image: block.settings.product_image
        , product: block.settings.product
        , rating: block.settings.rating
        , quantity_reviews: block.settings.quantity_reviews
      %}
    {% endfor %}
  </div>
</div>