.list-selling-products {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
  margin-top: 35px;
}

@media (max-width: 768px) {
  .list-selling-products {
    flex-wrap: wrap;
  }
}

@media (max-width: 380px) {
  .subtitle span {
    font-size: 14px;
  }

  .list-selling-products {
    gap: 16px;
  }
}
