.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content-item {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-content-item i,
.header-content-item a {
  font-size: 16px;
}

@media (max-width: 768px) {
  .header-content-item i,
  .header-content-item a {
    font-size: 14px;
  }

  .contact-text {
    display: none;
  }
}

@media (max-width: 375px) {
  .contact-text {
    display: none;
  }

  .header-content-item i,
  .header-content-item a {
    font-size: 12px;
  }
}
