.container-carousel {
  width: 100%;
  position: relative;
  padding-bottom: 60px;
}

.title-carousel {
  font-size: 36px;
  padding-block: 35px;
}
.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;
}

.glider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  max-width: 100%;
}

.card-carousel {
  width: 250px;
  height: 350px;
  flex-shrink: 0;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}

.card-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.card-carousel p {
  z-index: 2;
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  padding: 10px;
  color: #fff;
  font-size: 24px;
  background: transparent;
  text-align: center;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  backdrop-filter: blur(6.5714287757873535px);

  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  color: white;
  font-size: 1.5rem;
  width: 46px;
  height: 46px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.carousel-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.carousel-btn i {
  pointer-events: none;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 12px;
  pointer-events: none;
}

@media (max-width: 768px) {
  .card-carousel {
    width: 200px;
    height: 300px;
  }

  .title-carousel {
    padding-block: 25px;
    font-size: 28px;
  }

  .card-carousel img {
    height: 100%;
  }
  .card-carousel p {
    position: absolute;
    font-size: 20px;
    bottom: 20px;
  }

  .container-carousel {
    padding-bottom: 45px;
  }
}

@media (max-width: 380px) {
  .card-carousel {
    width: 180px;
    height: 260px;
  }
  .carousel-btn {
    width: 34px;
    height: 34px;
  }
  .title-carousel {
    font-size: 24px;
  }
  .card-carousel img {
    height: 100%;
  }

  .card-carousel p {
    font-size: 20px;
    bottom: 20px;
  }

  .fa-chevron-left,
  .fa-chevron-right {
    font-size: 8px;
    pointer-events: none;
  }

  .container-carousel {
    padding-bottom: 40px;
  }
}
