{% layout 'theme' %}

{% section 'section-header' %}
{% section 'section-search-products' %}
{% section 'section-list-navigation' %}

<main class="homepage">
  {% section 'section-banner' %}

  {% section 'section-carousel' %}

  {% section 'section-invite-to-buy' %}

  {% section 'section-favorite-product' %}

  {% section 'section-selling-products' %}

  {% section 'section-reviews' %}

  {% section 'section-sugestion-of-buy' %}
</main>
<footer>
  {% section 'section-footer' %}
</footer>