{% layout 'theme' %}

<header >
  {% section 'top-header' %}
  </header>
{% section 'menu' %}
{% section 'navigation' %}

<main class="homepage">
  {% section 'banner' %}

  {% section 'carousel' %}

  {% section 'advantages' %}

  {% section 'favorite-product' %}

  {% section 'popular-products' %}

  {% section 'reviews' %}

  {% section 'suggestions' %}
</main>

<footer>
  {% comment %} {% section 'footer' %} {% endcomment %}
</footer>